*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-page {
  display: flex;
  gap: .9em;
}

.iconeFontAwsome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  font-size: x-large;
}

.numberArticle {
  text-decoration: none;
}




