*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main.content-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
}

.header-page {
  display: flex;
  gap: .9em;
}

.iconeFontAwsome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone {
  font-size: x-large;
}

.numberArticle {
  text-decoration: none;
}




