*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link-not-ready:hover{
  cursor: not-allowed;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 0.4em;
  background-color: rgb(104, 107, 107);
}

.navigation-item {
  padding: 15px 3em;
  text-decoration: none;
  color: white;
  background-color: rgb(66, 70, 70);
}

.navigation-item:hover {
  background-color: rgb(148, 218, 194);
  color: black;
}

.connection-item {
  background-color: #4caf50;
}

