.ul-descpition {
  display: flex;
  justify-content: space-around;
  gap: .5em;
}

.recu-information {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-invalidate {
  padding: 10px;
  border-radius: 40%;
  background-color: lightcoral;
  cursor: not-allowed;
  color: #ffffee;
}

#btn-reset {
  padding: 20px;
  background-color: aquamarine;
}
